.block1{
    background-color: rgba(111, 124, 153, 0.938);
    height: 100px;
    width:100px;
    border-radius: 20px;
}
.block2{
    background-color: rgba(80, 102, 148, 0.938);
    height: 100px;
    width:100px;
    border-radius: 20px;
}
.block3{
    background-color: rgba(55, 83, 145, 0.938);
    height: 100px;
    width:100px;
    border-radius: 20px;
}
.block4{
    background-color: rgba(25, 62, 143, 0.938);
    height: 100px;
    width:100px;
    border-radius: 20px;
}
.blocks{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
}
.ocean img{
    height:500px;
    width:500px;
    padding:20px;
}
.txt p{
    font-size:20px;
    color:blue;
    font-weight:500;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height:40px;
    padding:20px;
}

.mid{
    display:flex;
}
